.main {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
/* 
Home Section 
*/

.home {
  background-image: url("https://cdn.wikimg.net/en/strategywiki/images/8/82/Pokemon_FRLG_Pallet_Town.png");
  background-position: center;
  background-size: contain;
  font-family: var(--font-pixelfy-sans);
  width: 100%;
}

.homeWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 60px;
  text-align: center;
}

.homeTextBox {
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 0 auto;
  max-width: 1180px;
  padding: 20px 80px;
  text-align: center;
}

.homeProf {
  margin: 0 auto;
  width: 300px;
}

.homeBall img {
  margin-top: 30px;
  transition: 0.2s;
  width: 100px;
}

.homeBall img:hover {
  transform: scale(120%);
  transition: 0.2s;
}

/* 
Quiz Section 
*/

.quiz {
  align-items: center;
  background-image: url("https://static.guidestrats.com/images/02/13609/00-standing-in-the-middle-of-viridian-forest-pokemon-frlg-screenshot.jpg");
  background-position: center;
  background-size: contain;
  display: flex;
  font-family: var(--font-pixelfy-sans);
  justify-content: center;
  margin: 0 auto;
}

.quizGoBack {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid black;
  border-radius: 5px;
  display: inline-block;
  margin: 10px 0;
  padding: 5px 10px;
  transition: 0.1s;
}

.quizGoBack :hover {
  transform: scale(105%);
  transition: 0.1s;
}

.quizWrapper {
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 980px;
  padding: 20px 80px;
  text-align: center;
}

.quizWrapper img {
  height: 300px;
  object-fit: contain;
  width: 500px;
}

.quizWrapper p {
  font-size: 30px;
}

.quizAnswerWrapper {
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.quizAnswerWrapper button {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid black;
  border-radius: 5px;
  font-family: var(--font-pixelfy-sans);
  font-size: 20px;
  padding: 10px;
  transition: 0.2s;
}

.quizAnswerWrapper button:hover {
  background-color: rgba(127, 210, 43, 0.8);
  border: 3px solid rgb(255, 237, 39);
  transform: scale(101%);
  transition: 0.2s;
}

.quizAnswerWrapper button:nth-child(5) {
  grid-column: span 2;
  margin-bottom: 20px;
}

/*
Results
*/

.resultLoading {
  align-items: center;
  background-image: url("https://media.tenor.com/MMDa60lTwtIAAAAM/caught-pokemon.gif");
  background-position: center;
  background-size: cover;
  display: flex;
  font-family: var(--font-pixelfy-sans);
  font-size: 40px;
  height: 100vh;
  justify-content: center;
}

.resultCard {
  background-image: url("https://cdn.wikimg.net/en/strategywiki/images/e/e4/Pokemon_FRLG_Six_Island.png?20160917134510");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  font-family: var(--font-pixelfy-sans);
  justify-content: center;
  overflow: scroll;
  text-align: center;
}

.resultCardWrapper {
  padding: 20px;
}

.resultText {
  border: 5px solid black;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 50px;
  padding: 10px 50px;
}

.resultImages img {
  width: 250px;
  margin-bottom: 30px;
}

.resultRestart {
  background-color: rgba(255, 255, 255, 0.6);
  border: 5px solid black;
  border-radius: 50px;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
  transition: 0.3s;
}

.resultRestart :hover {
  color: red;
  transform: scale(105%);
  transition: 0.3s;
}
